---
dependency:
  name: galaxy
driver:
  name: docker
lint: |
  set -e
  yamllint .
  ansible-lint
platforms:
  - name: db_postgresql_server_u1804
    image: ubuntu:18.04
  - name: db_postgresql_server_u2004
    image: ubuntu:20.04
  - name: db_postgresql_server_d10
    image: debian:10
provisioner:
  name: ansible
verifier:
  name: ansible
