---
- name: Sysctl custom insert
  ansible.builtin.blockinfile:
    path: /etc/sysctl.conf
    mode: "0644"
    create: true
    marker: "# {mark} custom settings"
    block: |
      fs.inotify.max_queued_events = 1048576
      fs.inotify.max_user_instances = 1048576
      fs.inotify.max_user_watches = 1048576
      vm.max_map_count=262144
- name: Sysctl load
  ansible.builtin.command: sysctl --system
